.body {
    background-color: rgb(54, 193, 228);
    max-width: 500px;
    margin: auto;
    line-height: 1.5;
    background-image: url("../images/People\ Dollar\ logo\,\ Money\ Finances\ logo.jpg");
}