.form {
    width: 100%;
    max-width: 400px;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: beige;
}

.form__button {
    background-color: cornflowerblue;
    border: none;
}

.form__button:hover {
    background-color: hsl(219, 79%, 55%);
}

.form__button:active {
    background-color: hsl(219, 79%, 35%);
}
.form__amount {
    margin: auto;
}

.form__label {
    margin: auto;
}

.form__label {
    padding-right: 5px;
}
