.form {
    width: 100%;
    max-width: 400px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: beige;
    border: 4px solid crimson;
    padding: 40px;
    border-radius: 30%;
}

.form__button {
    background-color: hsl(39, 89%, 40%);
    border: none;
}

.form__button:hover {
    background-color: hsl(219, 79%, 55%);
}

.form__button:active {
    background-color: hsl(219, 79%, 35%);
}
.form__amount {
    margin: auto;
}

.form__label {
    margin: auto;
}

.form__label {
    padding-right: 5px;
}
